/*GENERAL*/
* {
    margin: 0
}
body {
    background-color: rgb(233, 233, 233);
}

/*TITULO*/
h1 {
    height: 2em;
    padding-top: 1em;
    text-align: center;    
    background-color: rgba(47, 108, 206, 0.726);
    color: whitesmoke;
}

/*NAVEGADOR*/
nav {
    padding: 0.5em;
    background-color: rgba(47, 108, 206, 0.726);
    border-bottom: 0.2em inset rgba(47, 108, 206, 0.726);
}
nav a {
    color: whitesmoke;
}
nav a:hover {
    color: rgba(18, 65, 139, 0.87);;
}

/*FORMULARIO*/
form {
    background-color: rgba(59,130,246,0.5);
    border-bottom: 0.2em inset rgba(47, 108, 206, 0.726);;
    margin-bottom: 2em;
    padding: 0.5em;
}
form div {
    display: inline;        
}
form input {
    width: 20em;
    height: 20px;
}
form select {
    width: 5em;
    height: 26px;
}
form input[type="submit"] {
    width: 8em;
    height: 26px;
}
form button {
    width: 8em;
    height: 26px;
}
.telnet input{
    width: 10em;
}
.telnet .number {
    width: 5em;
}

/*RESULTADOS*/
.resultados {
    text-align: center;
}
.resultados table {        
    margin: auto;
    border: 3px outset rgb(233, 233, 233);
    border-collapse: collapse;
}

.resultados table caption {    
    margin: 1em;
    margin-top: 2em;
    text-transform: uppercase;
}
.resultados table td, .resultados table th{    
    border: 1px inset rgb(182, 182, 182);
    padding: 0.5em;
}




/*Animación de loading*/
.loading {
    animation: salto 1.5s infinite
}
@keyframes salto {
    from {
        opacity: 0.8;
    }
    to{
         opacity: 0.2;
    }
}

