<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Utilities Web</title>
    <link rel="stylesheet" href="static/CSS/general.css">
</head>
<body>   


    <h1>Peticiones API</h1>


    <nav>
        <a href="/">Home</a> |
        <a href="/dns">Buscador DNS</a> |
        <a href="/telnet">Tester de Puertos</a> |
        <a href="/api">Peticiones API</a>
    </nav>


    <form method="post" class="form api" id="formAPI">
        {% csrf_token %}
        {{formulario}}
        <button type="submit" form="formAPI" onclick="deshabilitarBuscar()">
            <div>Enviar</div>                
        </button>          
        <div class="authForm api">        
            <div class="apiAuth">
                {{formularioAuth}}
            </div>
            <div class="apiBasic">
                {{formularioAuthBasic}}
            </div>
            <div class="apiToken">
                {{formularioAuthToken}}
            </div>        
            <div class="bodyFieldSelect">
                {{formfieldSelect}}
            </div>             
            <div class="formFields">
                {{formFields.as_div}} 
            </div>        
            <div class="formFieldTextarea">
                {{formfieldTextarea}} 
            </div>                      
        </div>                
    </form>    
 

    <div class="resultados api"> 
    {% if respuesta %}        
        <pre>{{respuesta}}</pre>
    {% else %}
        <p>
            Función de API Request en proceso de construcción...
        </p>
        <p>
            Por el momento puedes lanzar peticiones GET y POST          
        </p>        
    {% endif %}
    </div>
    

    <script type="text/javascript">

        // Recargar los divs de parámetros en caso de que se cambie de GET a POST, etc...
        // Obtenemos el elemento que contiene la opción del modo de request
        selectionMethod = document.getElementById("id_apiRequestType")
        // Función para mostrar elementos según el método
        function showElment(method){
            // Si es GET, dejamos los parametros            
            if (method == "GET"){ 
                console.log("asdasdas")
                document.getElementsByClassName("bodyFieldSelect")[0].style.display = "block";
                document.getElementsByClassName("formFields")[0].style.display = "block";
                document.getElementsByClassName("formFieldTextarea")[0].style.display = "none";
            } 
            // Si es POST dejamos el text área para poder introducir parámetros mas personalizados
            if (method == "POST") { 
                console.log("12434")
                document.getElementsByClassName("bodyFieldSelect")[0].style.display = "none";
                document.getElementsByClassName("formFields")[0].style.display = "none";
                document.getElementsByClassName("formFieldTextarea")[0].style.display = "block";
            } 
        } 
        // Lanzamos la función para cuando se recargue la página
        showElment(selectionMethod.value)        
        // Creamos un listener para que cuando se cambie el modo se muestren los elementos correspondientes
        selectionMethod.addEventListener('change', function() {        
            showElment(selectionMethod.value)
        });
        






        // Funcion para deshabilitar el boton de request mientras busca
        botonBuscar = document.querySelectorAll('[type="submit"]')[0].getElementsByTagName('div')[0];        
        urlValue = document.getElementById("id_urlValue").value        
        requestDone = true
        function deshabilitarBuscar() {                        
            if (urlValue){
                if (!requestDone) {
                    event.preventDefault()
                } else {
                    botonBuscar.innerHTML = "Lanzando..."
                    botonBuscar.classList.add("loading")
                    requestDone = false
                }
            } 
            
        }       

        // Funcion para ocultar los elementos innecesarios de autenticación
        function authHidden(element) {
            if (element.value == "Basic") {
                document.getElementsByClassName("apiBasic")[0].style.display = "block";
                document.getElementsByClassName("apiToken")[0].style.display = "none";
            }
            else if (element.value == "Token") {
                document.getElementsByClassName("apiBasic")[0].style.display = "none";
                document.getElementsByClassName("apiToken")[0].style.display = "block";
            }
            else {
                document.getElementsByClassName("apiBasic")[0].style.display = "none";
                document.getElementsByClassName("apiToken")[0].style.display = "none";
            }
        }
        authHidden(document.getElementById("id_apiAuthType"))

        // Funcion para ocultar los fields para los parametros de la petición 
        function authHiddenFields(element) {  
            // Guardamos todos los fields
            fieldKeys = document.getElementsByClassName("apiBodyFieldsKeys")
            fieldValues = document.getElementsByClassName("apiBodyFieldsValues")
            // Ocultamos todos
            for (let i = 0; i < fieldKeys.length; i++) {
                fieldKeys[i].style.display = "none";   
                fieldValues[i].style.display = "none";   
            } 
            // Mostramos solo los que hayamos seleccionado
            for (let i = 0; i < element.value; i++) {
                fieldKeys[i].style.display = "inline";                
                fieldValues[i].style.display = "inline";               
            }
        } 
        authHiddenFields(document.getElementById("id_bodyFieldSelect"))
    </script>
   

</body>
</html>