<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Utilities Web</title>
    <link rel="stylesheet" href="static/CSS/general.css">
</head>
<body>   


    <h1>Peticiones API</h1>


    <nav>
        <a href="/">Home</a> |
        <a href="/dns">Buscador DNS</a> |
        <a href="/telnet">Tester de Puertos</a> |
        <a href="/api">Peticiones API</a>
    </nav>


    <form method="post" class="form api" id="formAPI">
        {% csrf_token %}
        {{formulario}}
        <button type="submit" form="formAPI" onclick="deshabilitarBuscar()">
            <div>Enviar</div>                
        </button>          
        <div class="authForm api">        
            <div class="apiAuth">
                {{formularioAuth}}
            </div>
            <div class="apiBasic">
                {{formularioAuthBasic}}
            </div>
            <div class="apiToken">
                {{formularioAuthToken}}
            </div>
            <div class="bodyFieldSelect">
                {{formfieldSelect}}
            </div>            
            <div class="formFields">
                {{formFields}} 
             </div>
        </div>                
    </form>    
 

    <div class="resultados api"> 
    {% if respuesta %}        
        <pre>{{respuesta}}</pre>
    {% else %}
        <p>
            Función de API Request en proceso de construcción...
        </p>
        <p>
            Por el momento puedes lanzar peticiones GET           
        </p>        
    {% endif %}
    </div>
    {{test}} 


    <script type="text/javascript">

        // Funcion para deshabilitar el boton de request mientras busca
        botonBuscar = document.querySelectorAll('[type="submit"]')[0].getElementsByTagName('div')[0];        
        requestDone = true
        function deshabilitarBuscar() {                        
            if (!requestDone) {
                event.preventDefault()
            } else {
                botonBuscar.innerHTML = "Lanzando..."
                botonBuscar.classList.add("loading")
                requestDone = false
            }
        }       

        // Funcion para ocultar los elementos innecesarios de autenticación
        function authHidden(element) {
            if (element.value == "Basic") {
                document.getElementsByClassName("apiBasic")[0].style.display = "block";
                document.getElementsByClassName("apiToken")[0].style.display = "none";
            }
            else if (element.value == "Token") {
                document.getElementsByClassName("apiBasic")[0].style.display = "none";
                document.getElementsByClassName("apiToken")[0].style.display = "block";
            }
            else {
                document.getElementsByClassName("apiBasic")[0].style.display = "none";
                document.getElementsByClassName("apiToken")[0].style.display = "none";
            }
        }
        authHidden(document.getElementById("id_apiAuthType"))

        // Funcion para ocultar los fields para los parametros de la petición 
        function authHiddenFields(element) {  
            // Guardamos todos los fields
            fieldKeys = document.getElementsByClassName("apiBodyFieldsKeys")
            fieldValues = document.getElementsByClassName("apiBodyFieldsValues")
            // Ocultamos todos
            for (let i = 0; i < fieldKeys.length; i++) {
                fieldKeys[i].style.display = "none";   
                fieldValues[i].style.display = "none";   
            } 
            // Mostramos solo los que hayamos seleccionado
            for (let i = 0; i < element.value; i++) {
                fieldKeys[i].style.display = "block";                
                fieldValues[i].style.display = "block";               
            }
        } 
        authHiddenFields(document.getElementById("id_bodyFieldSelect"))
    </script>
   

</body>
</html>