{% extends "base/base.html" %}

{% block headTitle %}<h1>Listas Negras</h1>{% endblock %}

{% block content %}        
    <form method="post" class="form dns" id="formDNS">
        {% csrf_token %}
        {{formulario}}
        <button type="submit" form="formDNS" onclick="deshabilitarBuscar()">
            <div>Buscar</div>                
        </button>  
    </form>    
    
    <div class="resultados bkl principal">    
    {% if validValue and valueInput %}
        {% if resultadoBool %}
            {% if isListed %}                
                <table>   
                    <caption><h5>Se ha encontrado en las siguientes listas</h5></caption>                       
                    {% for lista in resultado.detected_by %}
                        <tr>
                            <td>{{valueInput}}</td>
                            <td>{{lista}}</td>                            
                        </tr>    
                    {% endfor %}
                </table>
            {% else %}                
                <p>
                    No se encuentra en listas negras
                </p>                            
            {% endif %}

        {% else %}
            <p>
                {{resultado}}
            </p>      
        {% endif %}
    {% elif not valueInput %}
        <p>
            Introduce una IP para realizar una búsqueda
        </p>
    {% else %}
        <p>
            Introduce una IP válida
        </p>
    {% endif %}
    </div>
    
{% endblock %}