<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Utilities Web</title>
    <link rel="stylesheet" href="static/CSS/general.css">
</head>
<body>       
    <div class="contenedor">
        <h1>
            Buscador DNS
        </h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/dns">Buscador DNS</a> |
            <a href="/telnet">Tester de Puertos</a> |
            <a href="/bkl">Listas negras</a>        
        </nav>
        
        <form method="post" class="form dns" id="formDNS">
            {% csrf_token %}
            {{formulario}}
            <button type="submit" form="formDNS" onclick="deshabilitarBuscar()">
                <div>Buscar</div>                
            </button>  
        </form>    
        
        <div class="resultados dns principal">    
        {% if validValue and valueInput %}
            {% if selectValue == "ALL" %}
                {% if todosRegistros %}
                    <table>   
                        <caption><h3> </h3></caption>     
                        <tr>
                            <th>Registro</th>
                            <th>Tipo</th>
                            <th>Valor</th>
                        </tr> 
                        {% for registro in todosRegistros %}
                            <tr>
                                <td>{{valueInput}}</td>
                                <td>{{registro.tipo}}</td>
                                <td>{{registro.registro}}</td>
                            </tr>    
                        {% endfor %}
                    </table>
                {% else %}
                    {% if error%}
                        <p>
                            {{error}}
                        </p>
                    {% else %}
                        <p>
                            No se han encontrado registros
                        </p>                
                    {% endif %}
                {% endif %}

            {% else %}
                {% if consulta %}            
                    {% if todosRegistrosCname and selectValue == "CNAME" or not todosRegistrosCname %}                  
                        <table>          
                            <caption><h3> </h3></caption>           
                            <tr>
                                <th>Registro</th>
                                <th>Tipo</th>
                                <th>Valor</th>
                            </tr>
                            {% for registro in consulta %}
                                <tr>
                                    <td>{{valueInput}}</td>
                                    <td>{{selectValue}}</td>
                                    <td>{{registro}}</td>
                                </tr>
                            {% endfor %}            
                        </table>  
                    {% else %}
                        <p>
                            Este dominio/subdominio tiene creado un registro CNAME
                        </p>
                    {% endif %}          
                {% else %}            
                    {% if error%}
                        <p>
                            {{error}}
                        </p>
                    {% else %}
                        <p>
                            No se han encontrado registros
                        </p>                
                    {% endif %}
                {% endif %}
            {% endif %}
        {% elif not valueInput %}
            <p>
                Introduce un dominio o subdominio para realizar una búsqueda
            </p>
        {% else %}
            <p>
                Introduce un dominio/subdominio válido
            </p>
        {% endif %}
        </div>
        <p>
            <p style="position: absolute; bottom: 2em; right: 2em;color: rgba(0, 0, 0, 0);">Esta página ha sido visitada <strong>{{ total_visits }}</strong> veces.</p>
        </p>
        <footer class="footer-container">
            <p>&copy; 2025 Carlos Martinez. Todos los derechos reservados.</p>
            <p>Contacto: <a href="mailto:comentarios@lawebdekarlos.es">comentarios@lawebdekarlos.es</a></p>
        </footer>
    </div>



    
    <script type="text/javascript">
        botonBuscar = document.querySelectorAll('[type="submit"]')[0].getElementsByTagName('div')[0];        
        requestDone = true
        function deshabilitarBuscar() {                        
            if (!requestDone) {
                event.preventDefault()
            } else {
                botonBuscar.innerHTML = "Buscando..."
                botonBuscar.classList.add("loading")
                requestDone = false
            }
        }            
    </script>
   
</body>
</html>