{% extends "base/base.html" %}

{% block headTitle %}<h1>Buscador DNS</h1>{% endblock %}

{% block content %}
        
    <form method="post" class="form dns" id="formDNS">
        {% csrf_token %}
        {{formulario}}
        <button type="submit" form="formDNS" onclick="deshabilitarBuscar()">
            <div>Buscar</div>                
        </button>  
    </form>    
    
    <div class="resultados dns principal">    
    {% if validValue and valueInput %}
        {% if selectValue == "ALL" %}
            {% if todosRegistros %}
                <table>   
                    <caption><h3> </h3></caption>     
                    <tr>
                        <th>Registro</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                    </tr> 
                    {% for registro in todosRegistros %}
                        <tr>
                            <td>{{valueInput}}</td>
                            <td>{{registro.tipo}}</td>
                            <td>{{registro.registro}}</td>
                        </tr>    
                    {% endfor %}
                </table>
            {% else %}
                {% if error%}
                    <p>
                        {{error}}
                    </p>
                {% else %}
                    <p>
                        No se han encontrado registros
                    </p>                
                {% endif %}
            {% endif %}

        {% else %}
            {% if consulta %}            
                {% if todosRegistrosCname and selectValue == "CNAME" or not todosRegistrosCname %}                  
                    <table>          
                        <caption><h3> </h3></caption>           
                        <tr>
                            <th>Registro</th>
                            <th>Tipo</th>
                            <th>Valor</th>
                        </tr>
                        {% for registro in consulta %}
                            <tr>
                                <td>{{valueInput}}</td>
                                <td>{{selectValue}}</td>
                                <td>{{registro}}</td>
                            </tr>
                        {% endfor %}            
                    </table>  
                {% else %}
                    <p>
                        Este dominio/subdominio tiene creado un registro CNAME
                    </p>
                {% endif %}          
            {% else %}            
                {% if error%}
                    <p>
                        {{error}}
                    </p>
                {% else %}
                    <p>
                        No se han encontrado registros
                    </p>                
                {% endif %}
            {% endif %}
        {% endif %}
    {% elif not valueInput %}
        <p>
            Introduce un dominio o subdominio para realizar una búsqueda
        </p>
    {% else %}
        <p>
            Introduce un dominio/subdominio válido
        </p>
    {% endif %}
    </div>
    
{% endblock %}