{% extends "base/base.html" %}

{% block headTitle %}<h1>Utilidades Web</h1>{% endblock %}

{% block content %}
    <form>
        <input style="padding-left:3em;text-transform:uppercase;" type="text" disabled value="Bienvenido a la Web de Karlos">
    </form>  
    <div class="principal">
        <div class="bienvenida">            
            <p>Esta herramienta está diseñada para simplificar tus tareas diarias de administración, como la <strong>búsqueda de registros DNS</strong>. Nuestro objetivo es agilizar estos procesos para que puedas trabajar de manera más eficiente.</p>
            <br>
            <p>Te animamos a utilizarla de forma responsable y con conocimiento.</p>
            <br>
            <p>Seguiremos añadiendo nuevas funcionalidades con el tiempo. Si tienes alguna sugerencia que pueda mejorar la web, no dudes en contactarnos.</p> 
            <p>¡Tus ideas son bienvenidas!</p>
        </div>
    </div>
    
{% endblock %}
      