<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Utilities Web</title>
    <link rel="stylesheet" href="static/CSS/general.css">
</head>
<body>   
    <h1>Utilidades Web</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/dns">Buscador DNS</a> |
        <a href="/telnet">Tester de Puertos</a> |
        <a href="/api">Peticiones API</a>
    </nav>
    <form>
        <input style="padding-left:3em;text-transform:uppercase;" type="text" disabled value="En proceso de construcción">
    </form>  
   
</body>
</html>