{% extends "base/base.html" %}

{% block headTitle %}<h1>Testeador de Puertos</h1>{% endblock %}

{% block content %}
    <form method="post" class="form telnet" id="formTelnet">
        {% csrf_token %}
        {{formulario}}
        <button type="submit" form="formTelnet" onclick="deshabilitarBuscar()">
            <div>Buscar</div>                
        </button>        
    </form>     
    
    <div class="resultados telnet principal">
        {% if validIPValue and validPortValue and ipInput and portInput %}
            {% if respuesta == 1 %}
                <p>
                    El puerto {{portInput}} esta abierto                    
                </p>
            {% else %}               
                <p>
                    No se ha podido conectar con el puerto {{portInput}}                    
                    <br>
                </p>  
                <h3>Motivo:</h3>
                <p>
                    {{respuesta}}
                </p>
            {% endif %}
        {% else %}
            {% if not validIPValue %}
                <p>
                    Introduce una IP válida
                </p>
            {% elif not validPortValue %}
                <p>
                    Introduce un Puerto válido 
                </p>
            {% else %}
                <p>
                    Introduce una IP y un Puerto TCP para comprobar la conectividad
                </p>
            {% endif %}
        {% endif %}
    </div>
    
{% endblock %}    